@lt-gray: #ddd;
@background-dark: #512dab;
@background-light:#9575cd;
@background-pale:#d1c4e9;

//height variables
@carousel-item-height: 300px;

.zero-margin {
    margin:0px auto;
    padding:0px 0px;
}

.row-header{
    .zero-margin();
}

.row-content {
    .zero-margin{
        padding: (50px,0px);
    }
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #d1c4e9;
    .zero-margin(20px, 0px);
}

.jumbotron {
    .zero-margin(70px,30px);
    background:#9575cd ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512dab;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel{
    background:#512dab;

    .carousel-item{
        height: 300px;

        img{
            position: absolute;
            top:0;
            left:0;
            min-height: 300px;
        }
    }
}

#carouselButton{
    right:0px;
    position: absolute;
    buttom:0px;
}